{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
<h3>Sports News</h3>
        <ul>
          {{macro.displayNewsList(sports)}}
        </ul>
<h3>Business News</h3>
        <ul>
          {{macro.displayNewsList(business)}}
          </ul>
<h3>General News</h3>
        <ul>
        {{macro.displayNewsList(general)}}
        </ul>
<h3>Entertainment News</h3>
      <ul>
        {{macro.displayNewsList(entertaiment)}}
     </ul>

<h3>Technology News</h3>
        <ul>
         {{macro.displayNewsList(technology)}}
        </ul>

</html>
{% endblock%}