{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<h3>Sports News</h3>
        <ul>
          {{macro.displayNewsList(sports)}}
        </ul>
<h3>Business News</h3>
        <ul>
          {{macro.displayNewsList(business)}}
          </ul>
<h3>General News</h3>
        <ul>
        {{macro.displayNewsList(general)}}
        </ul>
<h3>Entertainment News</h3>
      <ul>
        {{macro.displayNewsList(entertaiment)}}
     </ul>

<h3>Technology News</h3>
        <ul>
         {{macro.displayNewsList(technology)}}
        </ul>

</html>
{% endblock%}