{% macro displayNewsList(new_list) %}

<div class="row">
    {% for news in new_list %}

       <div class="card cb-3 col-md-3">
            <a class="list-group-item list-group-item-action active" href="/news/{{news.id}}">{{news.id}}</a>
                <li style="list-style: none">{{news.name}}</li> 
                <p>{{news.description}}</p><br>
                <a href="{{news.url}}"> <button class="btn btn-outline-secondary btn-sm" >{{news.url}}</button></a>
                <li style="list-style: none">{{news.country}}</li>
        </div>  
           
    {% endfor %}
</div>
    {% endmacro %}
            
    
    